.is-hidden {
  display: none;

  &-mobile {
    @include mobile {
      display: none;
    }
  }

  &-touch {
    @include touch {
      display: none;
    }
  }

  &-desktop {
    @include desktop {
      display: none;
    }
  }
}
