{
  "printWidth": 120,
  "singleQuote": true,
  "overrides": [
    {
      "files": "**/*.pug",
      "options": {
        "parser": "pug",
        "attributeSeparator": "as-needed",
        "commentPreserveSpaces": "trim-all",
        "emptyAttributes": "none",
        "wrapAttributesThreshold": 1
      }
    }
  ]
}
