// Bulma breakpoints
@mixin mobile {
  @media screen and (max-width: ($tablet - 1px)) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet), print {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1px)) {
    @content;
  }
}

@mixin touch {
  @media screen and (max-width: ($desktop - 1px)) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin desktop-only {
  @if $widescreen-enabled {
    @media screen and (min-width: $desktop) and (max-width: ($widescreen - 1px)) {
      @content;
    }
  }
}

@mixin until-widescreen {
  @if $widescreen-enabled {
    @media screen and (max-width: ($widescreen - 1px)) {
      @content;
    }
  }
}

@mixin widescreen {
  @if $widescreen-enabled {
    @media screen and (min-width: $widescreen) {
      @content;
    }
  }
}

@mixin widescreen-only {
  @if $widescreen-enabled and $fullhd-enabled {
    @media screen and (min-width: $widescreen) and (max-width: ($fullhd - 1px)) {
      @content;
    }
  }
}

@mixin until-fullhd {
  @if $fullhd-enabled {
    @media screen and (max-width: ($fullhd - 1px)) {
      @content;
    }
  }
}

@mixin fullhd {
  @if $fullhd-enabled {
    @media screen and (min-width: $fullhd) {
      @content;
    }
  }
}

// Fonts
@mixin font($style: 400) {
  @if $style == 300 {
    font-family: '#{$font-name} Light', sans-serif;
  }

  @if $style == 400 {
    font-family: '#{$font-name} Regular', sans-serif;
  }

  @if $style == 500 {
    font-family: '#{$font-name} Medium', sans-serif;
  }

  @if $style == 700 {
    font-family: '#{$font-name} Bold', sans-serif;
  }
}

// Helpers
@mixin center($axis: xy) {
  position: absolute;

  @if $axis == xy {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @if $axis == x {
    left: 50%;
    transform: translate(-50%, 0);
  }

  @if $axis == y {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@mixin img {
  display: block;
  max-width: 100%;
  height: auto;
}

// States
@mixin hf {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin trans($dur: 0.3) {
  transition: all $dur + s;
}

// Retina
@mixin retina {
  @media screen and (-webkit-min-device-pixel-ratio: 1.5), screen and (min-resolution: 144dpi) {
    @content;
  }
}
