// Fonts
$font-name: 'Comfortaa';
$font-path-name: $font-name;

// Colors
$color-primary: #008fff;
$color-bg: #000000;
$color-title: #e2f1f8;
$color-text: #cfd8dc;
$color-gradient: linear-gradient(to right, #0575e6, #021b79);
