// Bulma initial
$gap: 20px;
$tablet: 769px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);

// Bulma container
$container-max-width: $fullhd;
$container-padding: 15px;
$container-offset: (2 * $gap) - (2 * $container-padding);

// Bulma section
$section-padding: rem(20) 0;
$section-padding-desktop: rem(40) 0;
$section-padding-medium: rem(60) 0;
$section-padding-large: rem(80) 0;

// Fonts
$font-name: 'Comfortaa';
$font-path-name: $font-name;

// Colors
$color-primary: #008fff;
$color-bg: #000000;
$color-title: #e2f1f8;
$color-text: #cfd8dc;
$color-gradient: linear-gradient(to right, #0575e6, #021b79);
