// Fonts
$font-name: 'Comfortaa';
$font-path-name: $font-name;

// Colors
$color-primary: #008fff;
$color-bg: #000000;
$color-title: #e2f1f8;
$color-text: #cfd8dc;
$color-gradient: linear-gradient(90deg, #360033 0%, #0b8793 100%);
