include /components/01-elements/title/index

- const heroD = require("/src/components/03-sections/hero/data/index.json");
- const heroS = require("/src/components/03-sections/hero/styles/index.json");

section(class=`${heroS.hero}`)
  div(class=`${heroS.title}`)
    +title(heroD.contactPage.title)
    h2 I use about.js file
