- const styles = require('01-elements/title/styles/index.json');

mixin title(props = {text: 'Title', tag: 'div', isColored: false})
  if props.tag === 'div h1'
    div(class=`${styles.h1} ${props.isColored ? styles.colored : ''}`)!= props.text
  if props.tag === 'h1'
    h1(class=`${styles.h1} ${props.isColored ? styles.colored : ''}`)!= props.text
  if props.tag === 'div h2'
    div(class=`${styles.h2} ${props.isColored ? styles.colored : ''}`)!= props.text
  if props.tag === 'h2'
    h2(class=`${styles.h2} ${props.isColored ? styles.colored : ''}`)!= props.text
