@import 'src/styles/includes';

h1.heading {
  @include font(700);
  font-size: rem(40);
  color: $color-title;

  @include desktop {
    font-size: rem(80);
  }
}

h2.heading {
  @include font(700);
  font-size: rem(32);
  color: $color-title;

  @include desktop {
    font-size: rem(72);
  }
}

.heading {
  &.color {
    &_primary {
      color: $color-primary;
    }
  }
}
