@import 'src/styles/includes';

.title {
  @include font(700);
  font-size: rem(40);
  color: $color-title;

  @include desktop {
    font-size: rem(80);
  }

  &_colored {
    color: $color-primary;
  }
}
