@import 'src/styles/includes';

.h1 {
  @include font(700);
  word-break: break-word;
  font-size: rem(40);
  color: $color-title;

  @include desktop {
    font-size: rem(80);
  }
}

.colored {
  color: $color-primary;
}
