- const styles = require('01-elements/heading/styles/index.json');

mixin heading(props = {})
  #{props.tag}(class=`${styles.heading} ${props.color === 'primary' ? styles.color_primary : ''}`)!= props.text
