@import 'src/styles/includes';

.section {
  width: 100%;
  height: 100vh;
}

.main {
  @include center();
  width: 100%;
  min-height: 50%;
  padding: rem(60) 0;
  background-image: $color-gradient;
}

.icon {
  max-width: rem(150);
  margin: 0 auto;

  @include desktop {
    max-width: rem(200);
  }
}

.img {
  @include img;
}

.title {
  text-align: center;
}
