@import 'src/styles/includes';

.section {
  background-image: $color-gradient;
}

.image {
  max-width: rem(150);
  margin: 0 auto;

  @include desktop {
    max-width: rem(200);
  }
}

.heading {
  text-align: center;
}
